# Python
__pycache__/
*.py[cod]
*.class

# Logs & temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs & Agents
.vscode/
.idea/
.agents/
.adal/
.aider-desk/
.augment/
.autohand/
.bob/
.claude/
.codeartsdoer/
.codebuddy/
.codemaker/
.codestudio/
.commandcode/
.continue/
.cortex/
.crush/
.devin/
.factory/
.forge/
.goose/
.grok/
.hermes/
.iflow/
.inferencesh/
.jazz/
.junie/
.kilocode/
.kimchi/
.kiro/
.kode/
.lingma/
.mcpjam/
.minimax/
.moxby/
.mux/
.neovate/
.ona/
.openhands/
.pi/
.pochi/
.posit/
.qoder/
.qwen/
.reasonix/
.roo/
.rovodev/
.tabnine/
.terramind/
.tinycloud/
.trae/
.vibe/
.windsurf/
.zcode/
.zencoder/
agent/
skills/
data/
skills-lock.json

